{% extends "site_cao_bravo/index.html" %}
{% block body_block %}
<section id="history-page">
        <div class="container">
            <div class="row">
                <div class="col-6">
                   <h1 id="history-title">História</h1>
                   <hr id="hr-title">
                   <h5 style="margin-right: 32%;">Atenção: cuidado com a fome! É praticamente impossível resistir a um bom hot dog, feito com ingredientes artesanais e de alta qualidade. Você corre o risco de viciar no sabor!
                        De heróis das lendas gregas a americanos e alemães da era moderna, consumimos salsicha há tanto tempo que sua origem é cercada de mistérios. Mas o que importa é que essa iguaria sobreviveu aos tempos, e ainda hoje é sinônimo de praticidade na hora da correria e de satisfação e prazer na confraternização com amigos.
                        Ainda que não saibamos ao certo quando e em que condições esse tipo de lanche foi criado, na Cão Bravo, por outro lado, conhecemos bem nosso legado para nunca perdermos de vista o que nos motiva.<br> 
                   </h5>
                </div>
                <div class="col-6">
                    <img src="https://i.imgur.com/RIBcmum.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="margin-top: 10%" id="text-history-page">
                    <h5>
                        "Quando chegou ao Brasil, nosso nonno trouxe consigo uma receita especial da Sicília. Verdadeiro segredo de família. O aroma das salsichas que ele costumava preparar, curadas no fogão a lenha, se espalhava pela vizinhança, perfumando o ar e despertando apetites. A criançada mais aventureira chegava a pular o muro da casa na tentativa de acalmar os estômagos. 
                        O nonno, contrariado, resolveu então ter um cão de guarda no seu quintal, para proteger suas preciosas criações. Mas sabemos que as crianças podem ser incansáveis, e, no final das contas, elas conseguiram fazer amizade com o animal, que de bravo não tinha nada.
                    </h5>
                    <br>
                    <h5>
                        Diego Gola, há mais de 14 anos trabalhando em projetos como o Restaurante A&C (Arts & Crafts Japanese Food), o Companhia do Mar e o Maui Poke house, grande sucesso na região de Alphaville, se juntou a seu pai, Walter Gola, nesta missão de honrar as memórias culinárias da família. Walter foi criador, por exemplo, da prestigiada marca Kabuki, responsável, nos anos 1990,
                        pelo começo da divulgação da culinária japonesa entre os paulistanos. Ele também está por trás do sucesso da rede Pobre Juan e da JAM.
                    </h5>
                    <br>
                    <h5>
                        Para as criações da Cão Bravo, pai e filho contaram com a ajuda do premiado chef João Leme, que já trabalhou em lugares como o Duquesnoy, em Paris, e o Scimmie, em Milão. No Brasil, seu currículo inclui o Limone, o Cia. Asiática, o Tartari’s e o Narciso, além de ele ser proprietário do Rôti, especializado nas cozinhas francesa e japonesa contemporâneas, em atividade desde 2003
                    </h5>
                    <br>
                    <h5 style="margin-bottom: 10%;">
                        Esqueça aquela ideia de que hot dog é sinônimo de junk food. Na Cão Bravo não trabalhamos com aditivos químicos, nem com produtos de origem desconhecida. Temos controle de todas as etapas da preparação de nossos lanches, para que você tenha uma experiência extraordinária e volte sempre. E não se preocupe, o cão vai adorar suas visitas.
                    </h5>            
                </div>
            </div>
        </div>
</section>

{% endblock %}