{% extends "site_cao_bravo/index.html" %}
{% block body_block %}
<section id="location-section">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h2 id="history-title" style="margin-bottom: 7%;">Onde estamos?</h2>
                <i class="fas fa-map-marker-alt" id="history-title"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non fuga mollitia recusandae laborum neque quia in itaque nulla facere doloribus excepturi voluptate amet, exercitationem molestiae quam omnis autem harum sequi.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h3 style="color: #e3a630;"><strong>Shopping Cidade São Paulo</strong></h3>
                    <a style="text-decoration: none;" href="https://www.google.com/maps/place/Av.+Paulista,+1230+-+Bela+Vista,+S%C3%A3o+Paulo+-+SP,+01310-000/data=!4m2!3m1!1s0x94ce59c872682a63:0x7c0315ee4514f73b?sa=X&ved=2ahUKEwi2i8D-5ZnmAhXZHrkGHQKuCfYQ8gEwAHoECAsQAQ">
                        <h5 style="color: white; margin-bottom: 10%;">Av. Paulista, 1230 - Bela Vista, São Paulo - SP, 01310-100</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h3 style="color: #e3a630;"><strong>Shopping Cidade São Paulo</strong></h3>
                    <a style="text-decoration: none;" href="https://www.google.com/maps/place/Av.+Paulista,+1230+-+Bela+Vista,+S%C3%A3o+Paulo+-+SP,+01310-000/data=!4m2!3m1!1s0x94ce59c872682a63:0x7c0315ee4514f73b?sa=X&ved=2ahUKEwi2i8D-5ZnmAhXZHrkGHQKuCfYQ8gEwAHoECAsQAQ">
                        <h5 style="color: white; margin-bottom: 10%;">Av. Paulista, 1230 - Bela Vista, São Paulo - SP, 01310-100</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h3 style="color: #e3a630;"><strong>Shopping Cidade São Paulo</strong></h3>
                    <a style="text-decoration: none;" href="https://www.google.com/maps/place/Av.+Paulista,+1230+-+Bela+Vista,+S%C3%A3o+Paulo+-+SP,+01310-000/data=!4m2!3m1!1s0x94ce59c872682a63:0x7c0315ee4514f73b?sa=X&ved=2ahUKEwi2i8D-5ZnmAhXZHrkGHQKuCfYQ8gEwAHoECAsQAQ">
                        <h5 style="color: white; margin-bottom: 10%;">Av. Paulista, 1230 - Bela Vista, São Paulo - SP, 01310-100</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}