<div class="row">
    <div class="col-12 text-center" id="nav-mobile">
        <a class="nav-link" href="#">
            <img src="https://i.imgur.com/C0ZYkNR.png" style="width: 250px;" alt="">
        </a>
        <a class="nav-link" href="{% url 'site_cao_bravo:home' %}" data-page-index="1">Home <span class="sr-only">(página atual)</span></a>
        <a class="nav-link" href="{% url 'site_cao_bravo:home' %}#2" data-page-index="2">História</a>
        <a class="nav-link" href="{% url 'site_cao_bravo:home' %}#3" data-page-index="3">Hot-dogs</a>
        <a class="nav-link" href="{% url 'site_cao_bravo:home' %}#8" data-page-index="8">Blog</a>
        <a class="nav-link" href="{% url 'site_cao_bravo:home' %}#9" data-page-index="9">Franquia</a>
        <a class="nav-link" href="{% url 'site_cao_bravo:home' %}#10" data-page-index="10">Eventos</a>
        <a class="nav-link" href="{% url 'site_cao_bravo:home' %}#11" data-page-index="11">Contato</a>
    </div>
</div>

